<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.mapper.UserMapper">

    <select id="getUser" parameterType="com.mall.admin.bean.User" resultType="com.mall.admin.bean.User">
        SELECT * FROM USER t WHERE 1=1
        <if test="username != null">
            and t.USERNAME =  #{username,jdbcType=VARCHAR}
        </if>
      <if test="password != null">
          and t.PASSWORD =  #{password,jdbcType=VARCHAR}
        </if>
    </select>

    <insert id="inserUser" parameterType="com.mall.admin.bean.User">
        INSERT INTO USER (ID_CARD,USERNAME,PASSWORD,TELETHONE,EMAIL)
                VALUES (#{idCard,jdbcType=VARCHAR},#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{telethone,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})
    </insert>
    
    <select id="findUser" parameterType="com.mall.admin.bean.User" resultType="com.mall.admin.bean.User">
        SELECT  * FROM USER t WHERE 1=1
        <if test="idCard !=null">
            and t.ID_CARD = #{idCard,jdbcType=VARCHAR}
        </if>
        <if test="username !=null">
            and t.USERNAME = #{username,jdbcType=VARCHAR}
        </if>
        <if test="telethone !=null">
            and t.TELETHONE = #{telethone,jdbcType=VARCHAR}
        </if>
        <if test="email !=null">
            and t.EMAIL = #{email,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>